<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  FilmShelf is a revolutionary web application, which allows cinephiles to easily keep track of their film collection, by adding each owned title to their own virtual FilmShelf.
</p>