<div class="center hero-unit">
  <h1>Welcome to your Filmshelf</h1>

  <h2>
    Keep track of your DVD and Blu-ray Disc collection from any place in the world.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>